.showing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:60px;
    margin-top: 135px;
    margin-bottom: 30px;
    overflow:auto;
    box-sizing: border-box;
    justify-items: center;
}

.bookCards{
    width: 230px;
    height: 260px;
    font-size: 12px;
    border-radius: 20px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #17425f;
    overflow: none;
    border-top:15px solid #ff741a;
    gap: 1.4rem;
    position: relative;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(45deg, rgb(15, 44, 63), rgb(21, 74, 109), rgb(52, 135, 190), rgb(101, 161, 201));
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

*{
    font-family: 'Roboto', sans-serif;
}

.titleToDisplay{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    font-family: rieven-uncial, sans-serif;
    font-weight: bold;
    font-style: normal;
    margin:0;
    padding: 0;
    color: #4c94c3;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
    /* margin-bottom: 1rem; */
}

.theForm{
    display:none;
}

.showNow{
    background-image: linear-gradient(rgb(37, 105, 161), rgb(3, 30, 54), rgb(37, 105, 161));
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 400px;
    height:400px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: rgb(236, 234, 234);
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
    color:#f3f3f3;
    top: 25%;
    box-shadow: 4px 4px 20px #212121;
    z-index: 100;
}

.addBook{
    background-color:transparent;
    height: 45px;
    width: 165px;
    border-radius: 90px;
    font-weight: bold;
    color: white;
    border: 2px solid #ff741a;
}


.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 90px;
    gap:4px;
    appearance: none;
}



.yes{
   width: 100%;
   display: flex;
   justify-content: center;
   border: solid 2px red;
}

.no{
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid 2px red;
}

select{
    width: 80px;
}

input{
    border-radius: 90px;
    height: 15px;
    width: 70%;
}

.select{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookRead{
    margin: 0;
}

.formButtonHovered{
    background-color: #ff741a;
}

.removeButton{
    width: 60px;
    height: 30px;
    font-size: 9px;
    background-color: transparent;
    border:None;
    width: 100%;
    color: rgb(107, 104, 104);
    font-weight: bold;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.removeButtonHovered{
    background-color: rgb(197, 74, 74);
    color: black;
}

.newBook{
    height: 40px;
    width: 100%;
    background-color: #fdfdfd;
    font-size: 30px;
    color: #4c94c3;
    border: none;
    border-radius: 90px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 0;
    font-family: rieven-uncial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.footer{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom:0;
    font-size: 30px;
    color: rgb(122, 121, 121);
}

h4{
    font-size: 16px;
    margin:0;
    padding: 0;
   
}

#toggleStatus{
    height: 20px;
    width: 20px;
    opacity: 0;
    display: hidden;
    position: absolute;
   

}

.toggleButtonContainer{
    display: flex;
    align-items: center;
    position: absolute;
    top: 78%;
    left: 61%;
    cursor:pointer;
    
}

.toggle:checked + label{
    color:red;
    
}

label.toggleLabel::before{
    content: "";
    height: 1.1em;
    width: 2.1em;
    background-color: rgb(235, 144, 144);
    border-radius: 1em;
}

label.toggleLabel::after{
    content: "";
    height: .9em;
    width: .9em;
    background-color: rgb(148, 36, 36);
    border-radius: 1em;
    position: absolute;
    top:.1em;
    left:.1em;
}

[type="checkbox"]:checked + label.toggleLabel::before{
    content: "";
    height: 1.1em;
    width: 2.1em;
    background-color: rgb(143, 231, 147);
    border-radius: 1em;
}

[type="checkbox"]:checked + label.toggleLabel::after{
    content: "";
    height: .9em;
    width: .9em;
    background-color: rgb(36, 148, 70);
    border-radius: 1em;
    position: absolute;
    top:.1em;
    left:1.1em;
}



.toggle + label{
    display: flex;
    position: relative;
}

.titleToDisplay + h4{

position: absolute;
top:6rem
}

.titleToDisplay + h4 +h4{

    position: absolute;
    top:9rem
    }

    .titleToDisplay + h4 +h4 +h4{

        position: absolute;
        top:12rem
        }

.booksTitle{
    color: White;
    font-family: rieven-uncial, sans-serif;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 75px;
}

.titleSubMessage{
    color: rgb(54, 54, 54);
    position: absolute;
    top: 124px;
}

.hide{
    opacity: 0;
}

